@model List<Book>
<h1>Lista książek</h1>
<a class="btn btn-primary" asp-action="Add">Dodaj</a>
<table class="table table-light table-striped mt-4">
    <thead>
        <tr>
            <th>Tytuł książki</th>
            <th>Autor książki</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var element in Model)
        {
            <tr>
                <td>@element.Title</td>
                <td>@element.Author</td>
                <td><a type="button" asp-action="Delete" asp-route-bookId="@element.Id" class="btn btn-danger">Usuń</a></td>
                <td><a type="button" asp-controller="Orders" asp-action="Create" asp-route-bookId="@element.Id" class="btn btn-success">Wypożycz</a></td>
            </tr>
        }
    </tbody>
</table>

